body{
    
    font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
#one{
    height: 23rem;
}

.glow {
    margin-top: -39rem;
    margin-left: 20rem;
    text-align: right;
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .bt{
    background-color: aqua;
    float: right;
    margin-right: 5rem;
    margin-top: 1rem;
  }
  h3{
    color: black;
  }
  .ex{
    margin-top: 36rem;
    text-align: center;
  }
  #myd{
    width: 20rem;
    /* height: 30rem; */
  }
  #ex{
    width: 20rem;    
    height: 30rem;
  }
  #ex1{
    width: 20rem;
    height: 30rem;

  }
  #ex2{
    width: 20rem;
    height: 30rem;

  }
  #ed{
    text-align: center;
  }
  ol1{
    /* text-align: center; */
    margin-left: 20rem;
  }
  ol{
    /* text-align: center; */
    margin-left: 20rem;
  }
  #cer{
    margin-left: 20rem;
  }
  #pro{
    text-align: center;
  }
  .work{
    background-color: rgb(3, 12, 12);
  }